[Unit]
Description=VictoriaMetrics Storage
After=network.target

[Service]
User={{ vm_user }}
Group={{ vm_group }}
ExecStart={{ data_dir}}/{{ vm_data_dir }}/vmstorage/bin/vmstorage-prod \
  -storageDataPath={{ data_dir }}/{{ vm_data_dir }}/vmstorage/data \
  -retentionPeriod={{ vmstorage_retention }} \
  -httpListenAddr=:{{ vmstorage_port}} \
  -vminsertAddr=:{{ vmstorage_config_vminsert_addr }} \
  -vmselectAddr=:{{ vmstorage_config_vmselect_addr }} \
  --dedup.minScrapeInterval={{ vmstorage_dedup_min_scrape_interval }}
StandardOutput=append:{{ data_dir }}/{{ vm_data_dir }}/vmstorage/logs/vmstorage.log
StandardError=append:{{ data_dir }}/{{ vm_data_dir }}/vmstorage/logs/vmstorage-error.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
